<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/business_details.css">
    <link rel="stylesheet" href="/stylesheets/nav after login.css">

     <!-- fontawesome -->
     <script src="https://kit.fontawesome.com/58728929a1.js" crossorigin="anonymous"></script>
    <title>Business Details | Admin</title>
</head>
    <nav>
        <header class="header">
            <div class="logo"><a href=<%- `/home/${id}` %> ><img src="/images/Fabrink Full Logo FINAL.png" width="150px" height="auto"></a></div>
            <ul class="main-nav">
            <li><a href=<%- `/user/dashboard/${id}` %> >Dashboard</a></li>
            <li><a href=<%- `/user/my-designs/${id}` %> >My Designs</a></li>
            <li><a href=<%- `/bulk-orders/${id}` %> >Bulk Orders</a></li>
            <li><a href=<%- `/settings/user-profile/${id}` %> >Settings</a></li>
            
            </ul>
            <div class="btn">
            <a href="/logout" class="lOut">Log Out</a>
            </div>
        </header> 
    </nav>

    <body>
        <div class="container">
            <div class="left">
                <a href=<%- `/settings/user-profile/${id}` %>><h4>User Profile</h4></a>
                <a href= <%- `/settings/business-details/${id}` %>><h4>Business Details</h4></a>
            </div>
    
            <div class="right">
                <h2>Business Details</h2>
                <form action="" method="POST">
                    <div class="hldr">
                        <div class="allin">
                            <label for="Business name">Business name</label>
                            <input name="businessName" type="text" >
                        </div>
        
                        <div class="allin">
                            <label for="Brand name">Brand name</label>
                            <input name="brandName" type="text" >
                        </div>
                        <div class="allin">
                            <label for="Country">Country</label>
                            <input name="country" type="text" >
                        </div>
                        <div class="allin">
                            <label for="Address Line 1">Address Line 1</label>
                            <textarea name="address1"  ></textarea>
                        </div>
                        <div class="allin">
                            <label for="Address Line 2">Address Line 2</label>
                            <textarea name="address2"  ></textarea>
                        </div>
                        <div class="allin">
                            <label for="City">City</label>
                            <input name="city" type="text" >
                        </div>
                        <div class="allin">
                            <label for="State">State</label>
                            <input name="state" type="text" >
                        </div>
                        <div class="allin">
                            <label for="Pincode">Pincode</label>
                            <input name="pincode" type="text" >
                        </div>
                        <div class="allin">
                            <label for="GSTIN">GSTIN</label>
                            <input name="gstin" type="text" >
                        </div>
                        <div class="allin">
                            <label for="Website">Website</label>
                            <input name="website" type="text" >
                        </div>
        
                    </div>
                    <button type="submit">Save</button>
                </form>
                

            </div>
        </div>
        
    </body>
    
    

    <!-- <footer>
        <h1 class="name"><span class="Fabr">Fabr</span><span class="Ink">Ink</span></h1>

        <div class="to-flex">
            <ul class="Customer-service list">
                <li class="heading"><strong>Services</strong></li>
                <li><a href="#">Print On Demand and Dropshipping</a></li>
                <li><a href="#">Design Services</a></li>
                <li><a href="#">Bulk Orders</a></li>
            </ul>

            <ul class="Keep-with-us list">
              <li class="heading"><strong>Discover</strong></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Customer Support</a></li>
              <li><a href="#">Policies</a></li>
          </ul>
    
            <ul class="Company list">
                <li class="heading"><strong>Integrations</strong></li>
                <li><a href="https://www.shopify.in/">Shopify</a></li>
                <li><a href="https://woocommerce.com/?utm_source=google&utm_medium=cpc&utm_campaign=acquisition_search_brand_row&utm_content=woocommerce&gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu_u6zv-YdRJ5Ww_cGDflML6pqZGQJUmEConO_dD-vGGIYE-rS-OIRcaAuqfEALw_wcB">WooCommerce</a></li>
                <li><a href="https://www.wix.com/">Wix</a></li>
                <li><a href="#">FabrInk API</a></li>
            </ul>
    
            <ul class="Connect-with-us list">
                <li class="heading"><strong>Connect With Us</strong></li>
                <li><a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp-square"></i> WhatsApp</a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="https://in.linkedin.com"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C318504236063%7Ce%7Cfacebook%7C&placement=&creative=318504236063&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066387003%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D20462%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu8aLJII6e5tAdEEsSJ9GNUEjtSHsujoKBhCpHgxjDXnY2DJVxOG-VAaAtu4EALw_wcB"><i class="fab fa-facebook-square"></i> Facebook</a></li>
            </ul>
    
            
        </div>

        <ul class="list">
            <li>&copy 2021 FabrInk, Inc. All Rights Reserved</li>
            
        </ul> -->

      
        

    <!-- </footer> -->

</body>
</html>